.container{
    align-items: center;
    margin-top: 1vh;
}
.item1{
    background-color: orange;
    height: 15vh;
    border-radius: 1vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    color:white;
}
.item2{
    background-color: yellowgreen;
    height: 15vh;
    border-radius: 1vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;    
    color:white;
}
.item3{
    background-color: fuchsia;
    height: 15vh;
    border-radius: 1vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;    
    color:white;
}
.itemContent{
    color:white;
}