<div class="container2">
  <div class="item1">
    <div class="itemContent" (click)="goToAddBusiness()">Add Business</div>
  </div>
  <div class="item2">
    <div class="itemContent" (click)="goToMyBusinesses()">My Businesses</div>
  </div>
  <div class="item3">
    <div class="itemContent">Contact</div>
  </div>
  <div class="item4">
    <div class="itemContent">Showcase</div>
  </div>
  <div class="item5">
    <div class="itemContent">Map</div>
  </div>
  <div class="item6">
    <div class="itemContent">Help</div>
  </div>
</div>